.venv/

.env

data/source/

__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwz
*.pyzwzwzw

data/inst2vec.db-journal

.safetensors

.DS_Store

.vscode

.idea

.pytest_cache

.ruff_cache

.mypy_cache

models/Qwen3VL-Embedding-8B/.cache/

models/