sqlalchemy
python-dotenv
hikerapi
httpx
pyacrcloud
openai-whisper
lingua-language-detector
huggingface_hub
torch
transformers
accelerate
pillow
ninja
bitsandbytes
umap-learn
hdbscan
matplotlib
rich
quarto
flash-attn
